<div>
  <!-- Heading -->
  <div class='custom-heading'>
    <h1>District</h1>
    <button nz-button nzType='primary' (click)='openModal("create")'>Add</button>
  </div>

  <!-- Table -->
  <nz-table
    #districtTable
    [nzData]='district.items'
    [nzBordered]='true'
    [nzPageSize]='query.maxResultCount'
    [nzShowPagination]='false'
    [nzSize]='"middle"'
    [nzScroll]='{ x: "1000px" }'
  >
    <thead>
    <tr>
      <th nzWidth="50px">STT</th>
      <th nzShowSort nzWidth="70px">Code</th>
      <th nzShowSort nzWidth="200px">Name</th>
      <th nzWidth="200px">English Name</th>
      <th nzShowSort nzWidth="150px">Level</th>
      <th nzWidth="150px">Decision Date</th>
      <th nzWidth="150px">Effective Date</th>
      <th nzWidth="100px">Population</th>
      <th nzWidth="100px">Area</th>
      <th nzWidth="200px">Description</th>
      <th nzWidth="180px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let district of districtTable.data; let idx = index'>
      <td>{{ query.skipCount + 1 + idx }}</td>
      <td>{{ district.code }}</td>
      <td>{{ district.name }}</td>
      <td>{{ district.englishName }}</td>
      <td>{{ DistrictLevelText[district.level] }}</td>
      <td>{{ district.decisionDate }}</td>
      <td>{{ district.effectiveDate }}</td>
      <td>{{ district.population }}</td>
      <td>{{ district.area }}</td>
      <td>{{ district.description }}</td>
      <td class='table-actions'>
        <button
          nz-button
          nzType="default"
          nzSize="small"
          class="action-button"
          (click)="openModal('update', district)"
        >
          <i class="fa fa-edit"></i> Edit
        </button>
        <button
          nz-button
          nzType="default"
          nzDanger
          nzSize="small"
          class="action-button"
          (click)="openModal('delete', district)"
        >
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <!-- Pagination -->
  <div class='navigation'>
    <nz-pagination
      [(nzPageIndex)]="query.pageIndex"
      [nzTotal]="district.totalCount"
      [(nzPageSize)]="query.maxResultCount"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      nzShowQuickJumper
      (nzPageIndexChange)='onPageIndexChange($event)'
      (nzPageSizeChange)='onPageSizeChange($event)'
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>

  <!-- Modal -->
  <nz-modal
    [(nzVisible)]="isModalOpen"
    [nzTitle]="modalTitle"
    [nzCentered]="true"
    (nzOnCancel)="handleModalCancel()"
    (nzOnOk)="handleModalConfirm()"
  >
    <ng-container *nzModalContent>
      <!-- Create/Update Form -->
      <form
        *ngIf="isFormMode"
        [formGroup]="districtForm"
        nzLayout="vertical"
        (ngSubmit)="handleModalConfirm()" nz-form
      >
        <nz-form-item>
          <nz-form-label nzFor="code" nzRequired>District Code</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input district code">
            <input nz-input formControlName="code" name="code" type="text" id="code" placeholder="Enter code" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="name" nzRequired>District Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input district name">
            <input nz-input formControlName="name" name="name" type="text" id="name" placeholder="Enter name"  />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="englishName">English Name</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="englishName" name="englishName" type="text" id="englishName" placeholder="Enter English name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="level" nzRequired>Level</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input district level">
            <nz-select
              formControlName='level'
              nzPlaceHolder='Enter level'
            >
              <nz-option
                *ngFor='let level of districtLevels'
                [nzLabel]='level.label'
                [nzValue]='level.value'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>

      <!-- Delete Confirmation -->
      <p *ngIf="!isFormMode">{{ deleteMessage }}</p>
    </ng-container>
  </nz-modal>
</div>
