<div>
  <!-- Heading -->
  <div class='custom-heading'>
    <h1>Hospital</h1>
    <button nz-button nzType='primary' (click)='openModal("create")'>Add</button>
  </div>

  <!-- Search Form -->
  <div class='search-group'>
    <div class='select-group'>
      <!-- Province Select -->
      <nz-select
        nzMode='default'
        nzPlaceHolder='Select province'
        nzAllowClear
        nzShowSearch
        nzServerSearch
        [(ngModel)]='query.provinceCode'
        (nzOnSearch)='onProvinceSearch($event)'
        (ngModelChange)='onProvinceChange($event)'
      >
        <nz-option *ngFor='let province of provinces.items' [nzValue]='province.code' [nzLabel]='province.name'
        >
        </nz-option>
      </nz-select>

      <!-- District Select -->
      <nz-select
        nzMode='default'
        nzPlaceHolder='Select district'
        nzAllowClear
        nzShowSearch
        [nzDisabled]='!query.provinceCode'
        [(ngModel)]='query.districtCode'
        (nzOnSearch)='onDistrictSearch($event)'
        (ngModelChange)='onDistrictChange($event)'
      >
        <nz-option *ngFor='let district of districts.items' [nzValue]='district.code' [nzLabel]='district.name'
        ></nz-option>
      </nz-select>

      <!-- Commune Select -->
      <nz-select
        nzMode='default'
        nzPlaceHolder="Select commune"
        nzAllowClear
        nzShowSearch
        [nzDisabled]="!query.districtCode"
        [(ngModel)]="query.communeCode"
        (nzOnSearch)="onCommuneSearch($event)"
        (ngModelChange)='onCommuneChange($event)'
      >
        <nz-option *ngFor="let commune of communes.items" [nzValue]="commune.code" [nzLabel]="commune.name">
        </nz-option>
      </nz-select>
    </div>

    <!-- Hospital Code/Name Search -->
    <input
      nz-input
      placeholder='Search hospital by code or name'
      [(ngModel)]='query.search'
    />

    <div class='button-group'>
      <button nz-button nzType='default' (click)='resetSearch()'>Reset</button>
      <button nz-button nzType='primary' (click)='performSearch()'>Search</button>
    </div>

  </div>

  <!-- Table -->
  <nz-table
    #hospitalTable
    [nzData]='hospitals.items'
    [nzBordered]='true'
    [nzSize]='"middle"'
    [nzShowPagination]='false'
    [nzPageSize]='query.maxResultCount'
    [nzScroll]='{ x: "1000px" }'
  >
    <thead>
    <tr>
      <th nzWidth="50px">STT</th>
      <th nzShowSort nzWidth="150px">Name</th>
      <th nzWidth="200px">Province</th>
      <th nzWidth="200px">District</th>
      <th nzWidth="200px">Commune</th>
      <th nzWidth="180px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let hospital of hospitalTable.data; let idx = index'>
      <td>{{ query.skipCount + 1 + idx }}</td>
      <td>{{ hospital.name }}</td>
      <td>{{ hospital.provinceName }}</td>
      <td>{{ hospital.districtName }}</td>
      <td>{{ hospital.communeName }}</td>
      <td class='table-actions'>
        <button
          nz-button
          nzType="default"
          nzSize="small"
          class="action-button"
          (click)="openModal('update', hospital)"
        >
          <i class="fa fa-edit"></i> Edit
        </button>
        <button
          nz-button
          nzType="default"
          nzDanger
          nzSize="small"
          class="action-button"
          (click)="openModal('delete', hospital)"
        >
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <!-- Pagination -->
  <div class='navigation'>
    <nz-pagination
      [(nzPageIndex)]="query.pageIndex"
      [nzTotal]="hospitals.totalCount"
      [(nzPageSize)]="query.maxResultCount"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      nzShowQuickJumper
      (nzPageIndexChange)='onPageIndexChange($event)'
      (nzPageSizeChange)='onPageSizeChange($event)'
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>

  <!-- Modal -->
  <nz-modal
    [(nzVisible)]="isModalOpen"
    [nzTitle]="modalTitle"
    [nzCentered]="true"
    [nzOkDisabled]='hospitalForm.invalid'
    (nzOnCancel)="handleModalCancel()"
    (nzOnOk)="handleModalConfirm()"
  >
    <ng-container *nzModalContent>
      <!-- Create/Update Form -->
      <form
        *ngIf="isFormMode"
        nz-form
        [formGroup]="hospitalForm"
        nzLayout="vertical"
        (ngSubmit)="handleModalConfirm()"
      >
        <nz-form-item>
          <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input hospital name!">
            <input nz-input formControlName="name" name="name" type="text" id="name" placeholder="Enter hospital name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor='province'>Province</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip='Please select province'>
            <nz-select
              nzPlaceHolder='Select province'
              formControlName='provinceCode'
              (nzOnSearch)='onProvinceSearch($event)'
              (ngModelChange)='onProvinceUCFormChange($event)'
            >
              <nz-option
                *ngFor='let province of provinceResultsInModal.items'
                [nzLabel]='province.name'
                [nzValue]='province.code'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor='district'>District</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip='Please select district'>
            <nz-select
              nzPlaceHolder='Select district'
              formControlName='districtCode'
              [nzDisabled]='!districtUCQuery.provinceCode'
              (nzOnSearch)='onDistrictSearch($event)'
              (ngModelChange)='onDistrictUCFormChange($event)'
            >
              <nz-option
                *ngFor='let district of districtResultsInModal.items'
                [nzLabel]='district.name'
                [nzValue]='district.code'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor='commune'>Commune</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip='Please select commune'>
            <nz-select
              nzPlaceHolder='Select commune'
              formControlName='communeCode'
              [nzDisabled]='!communeUCQuery.districtCode'
              (nzOnSearch)="onCommuneSearch($event)"
              (ngModelChange)='onCommuneUCFormChange($event)'
            >
              <nz-option
                *ngFor='let commune of communeResultsInModal.items'
                [nzLabel]='commune.name'
                [nzValue]='commune.code'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>

      <!-- Delete Confirmation -->
      <p *ngIf="!isFormMode">{{ deleteMessage }}</p>
    </ng-container>
  </nz-modal>
</div>
