<div>
  <!-- Heading -->
  <div class='custom-heading'>
    <h1>User Hospital</h1>
    <button nz-button nzType='primary' (click)='openModal("create")'>Add</button>
  </div>

  <!-- Table -->
  <nz-table
    #userHospitalTable
    [nzData]='userHospital.items'
    [nzBordered]='true'
    [nzSize]='"middle"'
    [nzShowPagination]='false'
    [nzPageSize]='query.maxResultCount'
    [nzScroll]='{ x: "1000px" }'
  >
    <thead>
    <tr>
      <th nzWidth="50px">STT</th>
      <th nzWidth="250px">User</th>
      <th nzWidth="250px">Hospital</th>
      <th nzWidth="180px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let userHospital of userHospitalTable.data; let idx = index'>
      <td>{{ query.skipCount + 1 + idx }}</td>
      <td>{{ userHospital.userName }}</td>
      <td>{{ userHospital.hospitalName }}</td>
      <td class='table-actions'>
        <button
          nz-button
          nzType="default"
          nzSize="small"
          class="action-button"
          (click)="openModal('update', userHospital)"
        >
          <i class="fa fa-edit"></i> Edit
        </button>
        <button
          nz-button
          nzType="default"
          nzDanger
          nzSize="small"
          class="action-button"
          (click)="openModal('delete', userHospital)"
        >
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <!-- Pagination -->
  <div class='navigation'>
    <nz-pagination
      [(nzPageIndex)]="query.pageIndex"
      [nzTotal]="userHospital.totalCount"
      [(nzPageSize)]="query.maxResultCount"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      nzShowQuickJumper
      (nzPageIndexChange)='onPageIndexChange($event)'
      (nzPageSizeChange)='onPageSizeChange($event)'
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>

  <!-- Modal -->
  <nz-modal
    [(nzVisible)]="isModalOpen"
    [nzTitle]="modalTitle"
    [nzCentered]="true"
    [nzOkDisabled]='userHospitalForm.invalid'
    (nzOnCancel)="handleModalCancel()"
    (nzOnOk)="handleModalConfirm()"
  >
    <ng-container *nzModalContent>
      <!-- Create/Update Form -->
      <form
        *ngIf="isFormMode"
        [formGroup]="userHospitalForm"
        nzLayout="vertical"
        (ngSubmit)="handleModalConfirm()" nz-form
      >
        <nz-form-item>
          <nz-form-label nzFor='user' nzRequired>User</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip='Please select user'>
            <nz-select
              nzPlaceHolder='Select User'
              formControlName='userId'
              [nzDisabled]='modalMode === "update"'
            >
              <nz-option
                *ngFor='let user of userResults.items'
                [nzLabel]='user.userName'
                [nzValue]='user.id'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor='hospital' nzRequired>Hospital</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip='Please select hospital'>
            <nz-select
              nzPlaceHolder='Select Hospital'
              formControlName='hospitalId'
            >
              <nz-option
                *ngFor='let hospital of hospitalResults.items'
                [nzLabel]='hospital.name'
                [nzValue]='hospital.id'
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>

      <!-- Delete Confirmation -->
      <p *ngIf="!isFormMode">{{ deleteMessage }}</p>
    </ng-container>
  </nz-modal>
</div>
